@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #061b0e;
  --color-on-primary: #ffffff;
  --color-primary-container: #1b3022;
  --color-on-primary-container: #819986;
  --color-primary-fixed: #d0e9d4;
  
  --color-secondary: #56642b;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #d6e7a1;
  --color-on-secondary-container: #5a682f;
  
  --color-tertiary-container: #252e23;
  --color-on-tertiary-container: #8c9687;

  --color-surface: #f9faf8;
  --color-surface-dim: #d9dad8;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f2;
  --color-surface-container: #edeeec;
  --color-surface-container-high: #e7e8e6;
  --color-surface-container-highest: #e1e3e1;
  
  --color-on-surface: #191c1b;
  --color-on-surface-variant: #434843;
  
  --color-outline: #737973;
  --color-outline-variant: #c3c8c1;
  --color-background: #f9faf8;
  --color-on-background: #191c1b;

  /* Fonts */
  --font-display-lg: "Plus Jakarta Sans", sans-serif;
  --font-headline-md: "Plus Jakarta Sans", sans-serif;
  --font-headline-sm: "Plus Jakarta Sans", sans-serif;
  --font-body-lg: "Manrope", sans-serif;
  --font-body-md: "Manrope", sans-serif;
  --font-label-md: "Manrope", sans-serif;
  --font-caption: "Manrope", sans-serif;

  /* Spacing */
  --spacing-gutter: 24px;
  --spacing-margin-mobile: 20px;
  --spacing-margin-tablet: 32px;
  --spacing-margin-desktop: 64px;
  --spacing-container-max: 1280px;
}

@layer base {
  body {
    @apply bg-background text-on-background font-body-md antialiased;
  }
}
